*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold;
    font-size: 32px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 10px 5px 5px grey;
}
h3{
    color:white;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Montserrat',
    sans-serif;
    
    letter-spacing: 5px;
    text-align: center;

}
h4{
    color: rgb(95, 95, 95);
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 5px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:transparent;
    font-family: 'Montserrat',
    sans-serif;
    
    
    

}


.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
   
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
    


.nav-links li{
    list-style: none;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold ;
    font-size: 14px;
    

}
.nav-links li a:hover{
    background-color: pink;
    color: black;

}
.burger{
    display: none;
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    margin:5px;
}
.btn{
    text-align: center;
    display: inline-block;
    transition-duration:0.4s;
    padding: 11px;
    border-radius: 250px;
    color: black;
    border:2px solid whitesmoke;
    box-shadow: 10px 5px 5px grey;
    font-family: 'Montserrat',
     sans-serif;

}
.btn:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}

.main-content{
    text-align: center;
    margin: auto;
    margin-top: 230px;
}


    
    
.container{
    background-image: url('img5.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

#social{
   display: inline-block;
   margin-right: 2em;
   margin-left: 2em;
   margin-top: 10px;
   margin-bottom: 20px;

}


#cardprojects{
    background-color: lightcoral;
    margin: auto;
}
.omniproject{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px grey;
   
}
.omniproject:hover{
     transform: scale(1.2);
}
.projects{
    color: grey;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 20px;
    margin: 50px;
    background-color: pink;

}
.projectoptions{
    text-align: center;
    margin-top: 5%;
    margin-right: 30px;
    color: whitesmoke;
    background-color:transparent;
}
.card{
    width: 15rem;
    font-size: small;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    float: left;

}
.card:hover{
     transform: scale(1.2);
}
.card-body{
    float: left;
    display: inline-block;
}
.card-img-top{
    width: auto;
    size: auto;
}
.omnifoodbutton1 {
    padding: 8px;
    border-radius: 15px;
    background-color: skyblue;
    color: whitesmoke;
    font-family: 'Montserrat',
        sans-serif;
    box-shadow: 5px 5px 5px lightslategray;
    text-align: center;
    margin-right: 20px;


}

.omnifoodbutton2{
    padding: 8px;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    font-family: 'Montserrat',
        sans-serif;
    box-shadow: 5px 5px 5px lightslategray;
    float: right;

}
.weatherappbutton1 {
    padding: 8px;
    border-radius: 15px;
    background-color: skyblue;
    color: whitesmoke;
    font-family: 'Montserrat',
    sans-serif;
    box-shadow: 5px 5px 5px lightslategray;
    text-align: center;
    margin-right: 20px;
    
    
}
.weatherappbutton2{
    padding: 8px;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    font-family: 'Montserrat',
    sans-serif;
    box-shadow: 5px 5px 5px lightslategray;
    float: right;
    
}
.weatherappbutton1:focus{
    outline: 0;
    box-shadow: none;
}
.headcert1{
    color: whitesmoke;
    text-decoration: underline 2px ;
    letter-spacing: 5px;
    font-weight:bold;
    font-size: 32px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    
}


.certbutton {
    padding: 10px;
    border-radius: 20px;
    background-color: palevioletred;
    color: whitesmoke;
    font-family: 'Montserrat',sans-serif;
    box-shadow: 10px 5px 5px grey;
    text-align: center;
    margin-right: 20px;
}
.certbutton:hover{
    transform: scale(.70);
    background-color: turquoise;
}
#certcard{
    margin: auto;
    margin-top: 10%;
    margin-left: 35%;
}
/*footer*/

.footer{
    margin-top: 5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color:rgb(81, 78, 78);
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 5px;
    


}
.coded{
    text-transform: uppercase;
    text-shadow: rosybrown;
    margin-top: 4px;
}

//*@media sceen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:gray;
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
    
}

