*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold;
    font-size: 32px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}
h3{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    text-align: center;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(81, 78, 78);
    font-family: 'Montserrat',
    sans-serif;
    
    

}

.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}
    


.nav-links li{
    list-style: none;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold ;
    font-size: 14px;

}
.burger{
    display: none;
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    margin:5px;
}
.btn{
    text-align: center;
    display: inline-block;
    transition-duration:0.4s;
    padding: 15px;
    border-radius: 250px;
    color:whitesmoke;
    background-color: whitesmoke;
    color: black;
    border:2px solid grey;

}
.btn:hover{
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}

.main-content{
    text-align: center;
    margin: auto;
    margin-top: 230px;
}

   
    
    
.container{
    background-image: url('img5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.headcert1{
    color: grey;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold;
    font-size: 32px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 20px;
}
.cert1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color:rgb(81, 78, 78);
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    text-align: center;


}

//*@media sceen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:gray;
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
    
}

